<mat-toolbar color="primary" class="mat-elevation-z24">
  <button mat-icon-button color="accent" >
    <mat-icon>menu</mat-icon>
  </button>
  <a [routerLink]="['/']"></a>
  <h1>My Memo</h1>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
</mat-toolbar>
