<button mat-mini-fab color="primary" [matMenuTriggerFor]="menuList">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #menuList="matMenu">
  <!-- <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button> -->
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item [routerLink]="['/memolist']">
    <mat-icon>list</mat-icon>
    <span>Memo List</span>
  </button>
  <button mat-menu-item [routerLink]="['/tasklist']">
    <!-- <mat-icon>notifications_off</mat-icon> -->
    <mat-icon>view_list</mat-icon>
    <span>Task List</span>
  </button>
</mat-menu>
